<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentCar</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    @await Html.PartialAsync("Component/_Navbar")
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @if (ViewData["Title"]?.ToString() != "Register" && ViewData["Title"]?.ToString() != "Login")
    {
        @await Html.PartialAsync("Component/_Footer")
    }

</body>

<script src="~/js/site.js" asp-append-version="true"></script>

</html>