<header class="bg-primary w-full mx-auto">
    <div class="flex justify-between font-lg item-center p-3">
        <div class="text-white flex gap-1 ml-1 item-center">
            <button id="hamburgerIcon"
                class="button bg-secondary text-white item-center flex border-radius-s">☰</button>
            <div class="text-xl"><a href="/" class="text-href text-white">RentCar</a></div>
        </div>
        <div class="flex gap-3 mr-1 text-base item-center">
            <button id="login-btn" class="bg-blue-light border-radius-s text-white p-2 button"><a href="/login"
                    class="text-white text-href">Login</a></button>
            <button id="register-btn" class="bg-blue-light border-radius-s text-white p-2 button"><a href="/register"
                    class="text-white text-href">Register</a></button>
            <div id="account-name" class="text-white"></div>
            <button id="button-logout" class="button text-href p-2 text-white border-radius-s bg-blue-light"><span
                    id="logout-text">Logout</span></button>
        </div>
    </div>
</header>

<div id="navSlide" class="bg-secondary hide">
    <div class="closeButton text-white">
        <button class="closeBtn" id="closeBtn">x</button>
    </div>

    <ul class="text-white">
        <li><a href="/">Home</a></li>
        <li><a href="/history">Riwayat Penyewaan</a></li>
        <li><a href="/about">Tentang Kami</a></li>
    </ul>
</div>