@page
@{
    ViewData["Title"] = "About Us";
}

<div class="my-10 flex flex-col justify-center item-center gap-1">
    <h1 class="font-bold">Selamat Datang RentCar</h1>
    <p>Kami adalah perusahan rental kendaraan terbesar di jagat raya</p>

</div>
<div class="flex my-10 justify-center gap-3">
    <div>Email : andrian.pratama@binus.ac.id</div>
    <div>Nomor : 08212392313132</div>
</div>