@page
@{
    ViewData["Title"] = "History";
}

<div class="my-10 mx-auto container w-full">
    <div class="flex justify-center item-center">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tanggal Sewa</th>
                        <th>Mobil</th>
                        <th>Harga Sewa per Hari</th>
                        <th>Total Hari</th>
                        <th>Total Harga</th>
                        <th>Status Pembayaran</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="~/js/history.js" asp-append-version="true"></script>